<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}Curve game{% endblock %}</title>
        {% block stylesheets %}
            <!-- Load app CSS and fix img rewriting -->
            {% stylesheets 'bundles/curvegameweb/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!-- End CSS loading -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}

        <!-- Start javascripts -->
        {% block javascripts %}

            <!-- Dynamic load JS -->
            {% javascripts '@CurveGameWebBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <!-- End dynamic loading -->

            <script type="text/javascript">
                // Initialize needed variables...
                var rootURL = '{{ path('curve_game_web_index') }}api/';
            </script>
        {% endblock %}
        <!-- End javascripts -->
    </body>
</html>
