div#leftControl {

}

div#rightControl {

}

div#readyToPlayBtn {
    background: url("../images/Ready_knop_nietIngedrukt3.png") no-repeat;
    background-size: 350px, 750px;
    width: 350px;
    height:750px;
}
.white_pushed_left,.white_pushed_right, .yellow_unpushed_left , .yellow_unpushed_right, .green_unpushed_left , .green_unpushed_right, .red_unpushed_left, .red_unpushed_right,
.white_unpushed_left, .white_unpushed_right, .blue_pushed_left, .blue_pushed_right, .blue_unpushed_left,.blue_unpushed_right, .yellow_pushed_left, .yellow_pushed_right,
.green_pushed_left,.green_pushed_right, .red_pushed_left, .red_pushed_right{
    background: url("../images/btnSprite.png") no-repeat;
}

.white_pushed_right{
    background-position: 0 -418.0000228881836px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}
.white_pushed_left{
    background-position: 0 -418.0000228881836px ;
    width: 239px;
    height: 100px;
    float:left;
}

.yellow_unpushed_right{
    background-position: -250px -210px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.yellow_unpushed_left{
    background-position: -250px -210px ;
    width: 239px;
    height: 100px;
    float:left;
}

.green_unpushed_right{
    background-position: -249px -106px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.green_unpushed_left{
    background-position: -249px -106px ;
    width: 239px;
    height: 100px;
    float:left;
}

.red_unpushed_right{
    background-position: -250px 0;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.red_unpushed_left{
    background-position: -250px 0;
    width: 239px;
    height: 100px;
    float:left;
}

.white_unpushed_right{
    background-position: -250px -418px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.white_unpushed_left{
    background-position: -250px -418px ;
    width: 239px;
    height: 100px;
    float:left;
}

.blue_pushed_right{
    background-position: 0 -312px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.blue_pushed_left {
    background-position: 0 -312px;
    width: 239px;
    height: 100px;
    float:left;
}

.blue_unpushed_right{
    background-position: -251px -313px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.blue_unpushed_left {
    background-position: -251px -313px;
    width: 239px;
    height: 100px;
    float:left;
}

.yellow_pushed_right{
    background-position: 0 -209px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.yellow_pushed_left{
    background-position: 0 -209px ;
    width: 239px;
    height: 100px;
    float:left;
}

.green_pushed_right{
    background-position: 0 -105px ;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.green_pushed_left{
    background-position: 0 -105px ;
    width: 239px;
    height: 100px;
    float:left;
}

.red_pushed_right{
    background-position: -1px 0;
    width: 239px;
    height: 100px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float:left;
}

.red_pushed_left{
    background-position: -1px 0;
    width: 239px;
    height: 100px;
    float:left;
}