body{
    background: url(../images/achtergrond.jpg)no-repeat center center fixed;
    margin: 0px;
    border: 7px solid #a8e5ec;
    border-radius: 5px;
    padding:7px;
    bottom:0;
    top:0;
    left:0;
    right:0;
    display: block;
    position:absolute;
    height:auto;
}

h1{
    color: #a8e5ec;
    text-align: center;

}

h2{
    color: #a8e5ec;

}

input{
    background-color: darkslategrey;
    color: #a8e5ec;
    border: 2px solid #a8e5ec;
    font-size: 22px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#queue{
    background-color: rgba(68, 65, 70, 0.51);
}
