<html>
<body>
<h1>
    Hurray! Success!
</h1>
<a href="{{ path('cms_overview') }}">Overview alle spelers/Specifieke speler</a><br />
<a href="{{ path('delete') }}">Verwijder een speler</a><br />
<a href="{{ path('cms_edit') }}">Edit een status van een speler</a><br />
<a href="{{ path('cms_overview') }}">Overview</a>
</body>
</html>