{% extends 'CurveGameWebBundle::base.html.twig' %}

{# Contains header title #}
{% block title %}
    Game
{% endblock %}

{# Contains the page HTML #}
{% block body %}
    <div id="screens" class="screen-container hidden">
        <section id="instructions"> <!-- Shows game instructions -->
            <div class="slide">
                <h1></h1>
                <a href="#register">Welkom bij Planet X: Fight for Survival</a>
            </div>
        </section>
        <section id="register"> <!-- Shows user registration form -->
            <div class="slide">
                <h1>Kies gebruikersnaam</h1>
                <form id="newUser" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Gebruikersnaam" />
                    </div>
                    <button type="submit" id="sendFormUsername" class="btn btn-default">Ga door!</button>
                </form>
                <a href="#finished"><h1>bezoek de high-score pagina</h1></a>
            </div>
        </section>
        <section id="queue"> <!-- Shows the queue -->
            <div class="slide">
                <h1>Wachtrij</h1>
                <p id="positionNum">Fetching queue...</p>
                <div id="readyToPlayContainer">
                    <div id="readyToPlayBtn">
                        The ready-to-play button.
                    </div>
                </div>
            </div>
        </section>
        <section id="play"> <!-- Shows the controls -->
            <div class="slide">
                <h1>Let's play!</h1>
                <div id="leftControl" class="controls"></div>
                <div id="rightControl" class="controls"></div>
            </div>
        </section>
        <section id="finished"> <!-- Shows the highscores/leaderboard & restart possibility (score reset) -->
            <div class="slide">
                <h1>Highscores</h1>
                <div id="highscores"></div>
            </div>
        </section>
    </div>
{% endblock %}