{% extends '::base.html.twig' %}

{# Contains header title #}
{% block title %}
{% endblock %}

{# Can contain specific stylesheets needed for this page. #}
{% block stylesheets %}
{% endblock %}

{# Contains the page HTML #}
{% block body %}
    <h1>Hallo</h1>
{% endblock %}

{# Contains specific page related javascripts #}
{% block javascripts %}
{% endblock %}