{% extends 'CurveGameWebBundle::base.html.twig' %}

{# Contains header title #}
{% block title %}
{% endblock %}

{# Contains the page HTML #}
{% block body %}
    <h1>Hallo allemaal!</h1>
    <div id="test"><p>Klik hierrr</p></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#test").click(function() {
            $(this).html(function () {
                return test();
            });
        });
    </script>
{% endblock %}